body { 
	font-family: sans-serif;
	background-color: rgb(245,245,245);
}

.resume { 
    padding-left: 3em;
    padding-right: 3em;
}
h2 {
	color: rgb(0,0,128);
    margin-left: -1.5em;
    font-family: sans-serif;
    border-bottom: solid 1pt black;
    font-size: 115%;
}
p {
    margin-bottom: 0.01em;
    margin-top: 0.5em;
}
p.job {
    margin-bottom: 0.01em;
    margin-top: 1.5em;
}
p {
    margin-bottom: 0.01em;
    margin-top: 0.5em;
}
em { font-weight: bold; }
ul { margin-top: 0.3em; }

.projects p { font-style: italic; }
ul.degrees { padding-left: 0.5em; }
.subjectsHeading { font-style: italic; }
.awardTitle { font-weight: bold; }
.bookTitle { font-style: italic; }
.citation { font-style: italic; }
.copyright { font-size: 75%; }
li.degree { margin-bottom: 0.5em; }
.degreeTitle { font-weight: bold; }
.employer { font-style: italic; font-weight: bold; }
.headerBlock { text-align: left; }
.jobTitle { padding-top: 3.0em; font-weight: bold; }
.lastModified { font-size: 75%; }
.nameHeading { font-family: sans-serif; font-size: 125%; }
div.referee { margin-bottom: 1em; }
table.referees { width: 60%; margin-top: 0em; margin-bottom: 0em;}
.refereeName { font-weight: bold }
.skillSection { display: table; }
.skillSection .skill { 
    display: table-row;
}
.skillSection .skill .skillSetTitle { 
    display: table-cell; 
    font-weight: bold; 
    width: 25%;
    margin-right: 3em;
    margin-bottom; 0.5em;
}
.skillSection .skill .skills { 
    display: table-cell;
    width: 60%;
    margin-right: 10%; 
}
.urlA { font-family:sans-serif; color:red; }
.navigation { 
	margin-top: 0;
    margin-bottom: 1em;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	background-color: rgb(215,225,240);
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	font-family: sans-serif;
}
.license { 
	text-align: center;
	font-size: smaller;
}
.license .copyright { 
    font-style: italic; 
}


