body { 
	font-family: sans-serif;
	background-color: rgb(245,245,245);
}

h2 {
	color: rgb(0,0,128);
    margin-left: -1.5em;
    font-family: sans-serif;
    border-bottom: solid 1pt black;
    font-size: 115%;
}

p {
    margin-bottom: 0.01em;
    margin-top: 0.5em;
}

em { font-weight: bold; }

ul { margin-top: 0.3em; }

.resume { 
    padding-left: 3em;
    padding-right: 3em;
}

.personal {
    text-align: center;
}

.personal .name { 
    font-size: 125%; 
}

.personal .note {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
}

.section {
}

.skills {
    display: table;
}
.skill { 
    display: table-row;
}
.skill .title { 
    display: table-cell; 
    font-weight: bold; 
    width: 25%;
    margin-right: 3em;
    margin-bottom; 0.5em;
}
.skill .description { 
    display: table-cell;
    width: 60%;
    margin-right: 10%; 
}

.degrees {
    padding-left: 0.5em; 
}

.degree {
    margin-bottom: 0.5em; 
}

.degree .title { 
    font-weight: bold; 
}

.degree .institution {
    font-style: italic;
}

.job {
    margin-bottom: 1.5em;
}

.job .employer {
    font-style: italic; 
    font-weight: bold; 
}

.job .title { 
    font-weight: bold; 
}

.job .dates {
    display: block;
    font-style: italic;
}

.projects {
}

.projects p { 
    font-style: italic; 
}

.navigation { 
	margin-top: 0;
    margin-bottom: 1em;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	background-color: rgb(215,225,240);
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	font-family: sans-serif;
}

.license { 
	text-align: center;
	font-size: smaller;
}

.license .copyright { 
    font-style: italic; 
}
.AnalyticsWarning {
    text-align: center;
    font-size: smaller;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
}



