---
layout: top
title: Welcome
description: This is the programming blog/portfolio of Mike Charlton.
---
<h2>Status</h2>
<p>
  I haven't updated this blog in a really long time and it is starting to
  show its age.  I always intended this to be a kind of
  <a href="https://martinfowler.com/bliki/WhatIsaBliki.html">bliki</a>
  as opposed to a normal blog.  The idea is that I would update the contents
  as my ideas changed.  Now, 5 years later, having not updated the site
  at all, I find some of my writing embarrassing :-).  I should have
  things cleaned up soon.  I will also have a lot of new content.  It's
  not that I haven't been writing for 5 years -- I just haven't been posting.
  Feel free to browse and send me email for any comments you may have.
</p>

<h2>Content</h2>

<h3>People Development</h3>
<ul>
    {% for post in site.categories.People %}
    <div class="list" title="{{post.description}}">
        <span class="posting">
            <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
            {% if post.url %}<a href="{{site.baseurl}}{{post.url}}">{% endif %}
                {{ post.title }}
                {% if post.url %}</a>{% endif %}
        </span>
    </div>
    {% endfor %}
</ul>

<h3>Agile Process</h3>
<ul>
    {% for post in site.categories.Agile %}
    <div class="list" title="{{post.description}}">
        <span class="posting">
            <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
            {% if post.url %}<a href="{{site.baseurl}}{{post.url}}">{% endif %}
                {{ post.title }}
                {% if post.url %}</a>{% endif %}
        </span>
    </div>
    {% endfor %}
</ul>

<h3>Programming</h3>
<ul>
    {% for post in site.categories.Programming %}
    <div class="list" title="{{post.description}}">
        <span class="posting">
            <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
            {% if post.url %}<a href="{{site.baseurl}}{{post.url}}">{% endif %}
                {{ post.title }}
                {% if post.url %}</a>{% endif %}
        </span>
    </div>
    {% endfor %}
</ul>

<h3>Puzzles</h3>
<ul>
    {% for post in site.categories.Puzzles %}
    <div class="list" title="{{post.description}}">
        <span class="posting">
            <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
            {% if post.url %}<a href="{{site.baseurl}}{{post.url}}">{% endif %}
                {{ post.title }}
                {% if post.url %}</a>{% endif %}
        </span>
    </div>
    {% endfor %}
</ul>

<h2>About Hiring Me</h2>
<p>
Status: I am currently working remotely on contract in Japan.
I am not looking for new work at the moment, but feel free
to review <a href="Resume">my CV / r&eacute;sum&eacute;</a>.
</p>
<p>
For more information about my aims and goals, please see my
<a href="AboutMe">post about my self</a>.
</p>

{% include TODO.html %}
{% include licensing.html %}
