<!DOCTYPE html>
<html>
    <head>
	    {% if page.title %}
	    <title>{{ page.title }} - {{ site.title }}</title>
	    {% else %}
	    <title>{{ site.title }}</title>
	    {% endif %}
	
	    <meta name="author" content="Mike Charlton" />
	    {% if page.description %}
	    <meta name="description" content="{{ page.description }}" />
	    {% else %}
	    <meta name="description" content="{{site.title }} {{ page.title }}" />
	    {% endif %}

	    {% if page.keywords %}
	    <meta name="keywords" content="{{ page.keywords }}" />	
	    {% endif %}

	    <meta name="robots" content="noodp, nydir" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="{{site.baseurl}}/css/style.css" type="text/css" rel="stylesheet" />
        <link rel="alternate" type="application/rss+xml" title="Programming Ideas" href="/rss.xml" />
        {% include analytics.html %}
    </head>

    <body>
        {% include navigation.html %}
        <div class="site">
            <span class="title">{{site.title}}</span>
            <span class="author"> by {{site.author}}</span>
        </div>
        {% include rss.html %}
        <div class="abstract">
            <div class="row">
                <div class="content">
                    <h1 class="title">{{page.title}}</h1>
                    <p class="description">{{page.description}}</p>
                </div>
                <div class="outline">
                    <div class="title">Summary</div>
                    <p class="list">{{page.summary}}</p>
                </div>
            </div>
        </div>
		
	    <div class="content">
		    {{ content }}
	    </div>
		
	    {% include copyright.html %}
	    {% include navigation.html %}
    </body>
</html>

